[submodule ".\\GraphicsCore\\vendor\\glfw"]
	path = GraphicsCore/vendor/glfw
	url = https://github.com/zixin96/glfw.git
[submodule ".\\GraphicsCore\\vendor\\spdlog"]
	path = GraphicsCore/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule ".\\GraphicsCore\\vendor\\glm"]
	path = GraphicsCore/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule ".\\GraphicsCore\\vendor\\imgui"]
	path = GraphicsCore/vendor/imgui
	url = https://github.com/zixin96/imgui.git
